* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background-image: url('https://media.istockphoto.com/id/1292919739/vector/tic-tac-toe-school-game-colorful-seamless-pattern-for-fabric-and-print-on-the-paper.jpg?s=612x612&w=0&k=20&c=Q4gMspKHffPmhKuofb_Rb_WCD8uAgbsbXSKuWEcziM8=');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}